@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Space+Grotesk:wght@300..700&display=swap');


@import "tailwindcss";

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

.font-poppins {
  font-family: 'Poppins', sans-serif;
}

.font-playfair {
  font-family: 'Playfair Display', serif;
}

.font-spacegrotesk {
  font-family: 'Space Grotesk', sans-serif;
}

@keyframes scrollLeft {
  to {
    left: -200px;
  }
}
@layer utilities {
  .animate-scrollLeft {
    animation-name: scrollLeft;
  }
}

@layer utilities {
  .bg-grid {
    background-color: black;
    background-image:
      linear-gradient(to right, rgba(255, 255, 255, 0.323) 1px, transparent 1px),
      linear-gradient(to bottom, rgba(255, 255, 255, 0.323) 1px, transparent 1px);
    background-size: 21px 21px;
  }
}

.slide-in {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #0f0f0f;
  transform-origin: bottom;
}

.slide-out {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #0f0f0f;
  transform-origin: top;
}

.transition-shape {
  clip-path: polygon(0 0, 0% 100%, 25% 75%, 50% 100%, 75% 75%, 100% 100%, 100% 0);
}


html, body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
html::-webkit-scrollbar, body::-webkit-scrollbar {
  display: none;
}
